@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-black  text-neutral-100 bg-gradient-to-b from-[#080526] to-[#141a56];
  }
}
/* global.css */

#nav-icon2 {
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  border-radius: 0 3px 3px 0;
}

#nav-icon2 span:nth-child(odd) {
  border-radius: 3px 0 0 3px;
}

#nav-icon2 span:nth-child(1) {
  top: 0;
}

#nav-icon2 span:nth-child(2) {
  top: 6px;
}

#nav-icon2 span:nth-child(3) {
  top: 12px;
}

#nav-icon2.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}

#nav-icon2.open span:nth-child(2) {
  transform: rotate(-45deg);
  top: 6px;
}

#nav-icon2.open span:nth-child(3) {
  opacity: 0;
}

/* NavBar.css */
.highlightTextOut {
  position: relative;
  display: inline-block;
  color: white; /* Default text color */
  font-weight: normal; /* Default font weight */
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out; /* Smooth transitions for color and font-weight */
}

.highlightTextOut::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #F59E0B; /* Tailwind amber-400 color */
  transition: width 0.3s ease-in-out; /* Smooth underline transition */
}

.highlightTextOut:hover {
  color: #F59E0B; /* Change text color to amber-400 on hover */
  font-weight: bold; /* Make text bold on hover */
}

.highlightTextOut:hover::after {
  width: 100%; /* Expand underline on hover */
}

